{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ block.super }} | Product list {% endblock head_title %}

{% block content%}

        <h1>Lista di tutti i prodotti:</h1>
        <a href="{% url 'manufacturer_list' %}" class="btn btn-sm btn-info">Lista Produttori</a>
        <hr>
        <div class="card-deck">       
            <div class="row row-cols-3">
                {% for product in object_list %}
                    <div class="col-6 col-md-4 col-lg-4 d-flex align-items-stretch">
                        <div class="card mt-3">
                            <h5 class="card-title mt-2 ml-2">{{ product.name }}</h5>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col">
                                        <img src="{{ product.photo.url }}" class="card-img-top" style=" max-width: 100px;" alt="immagine dell'articolo {{ product.name }}">
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Prezzo: {{ product.price }}€</p>
                                        <p class="card-text">Spedizione: {{ product.shipping_cost }}</p>
                                        {% if product.quantity > 0 %}
                                        <p class="card-text text-success">Disponibile</p>
                                        {% else %}
                                        <p class="card-text text-danger">Esaurito</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ product.get_absolute_url }}" class="btn btn-sm btn-info">Dettagli</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        
        
{% endblock content%}
