{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} | Password Reset{% endblock head_title %}

{% block content %}




<div class="row justify-content-center mt-4">
    <div class="col-12 list-unstyled">
        <h2>Password Reset</h2>
        <h5>Inserisci la mail a cui verrà recapitato il link per il reset password</h5>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Reset Password">
        </form>
    </div>
</div>

{% endblock content %}
