{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} | Cambia Password{% endblock head_title %}

{% block content %}


<div class="row justify-content-center mt-4">
    <div class="col-12 list-unstyled">
        <h2>Aggiornamento Password</h2>
        <h5>Inserisci la vecchia password e ripeti l'inserimento della nuova password.</h5>

        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Aggiorna Password">
        </form>
    </div>
</div>

{% endblock content %}
